langchain==0.0.101
gradio==3.20.1
accelerate==0.18.0
addict
albumentations
basicsr
controlnet-aux
diffusers==0.14.0
einops
imageio
imageio-ffmpeg
invisible-watermark
kornia
numpy
omegaconf
open_clip_torch
openai
opencv-python
prettytable
safetensors
streamlit
test-tube
timm==0.6.13
torchmetrics
webdataset
yapf
inflect
git+https://github.com/openai/CLIP.git
git+https://github.com/facebookresearch/detectron2.git
